body,html {
    background: #222;
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}

form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
    font: 10px sans-serif;
}

div.tooltip {
    position: absolute;
    float: left;
    text-align: left;
    width: 550px;
    height: 400px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    line-height: 1;
}


imageContainer{
    flex-direction: row;
    display: -webkit-flex;
    display: flex;
    float: left;
    position: absolute;
    text-align: left;
    width: 45%;
    height: 500px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

graphContainer{
    flex-direction: row;
    display: -webkit-flex;
    display: flex;
    float: right;
    position: absolute;
    text-align: right;
    width: 100%;
    height: 500px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

img {
    max-width:90%;
}
div#searched{
    float: left;
    width: 15%;
    height: 100%;
    background: #ddd;
    padding: auto;
    margin: auto;
}
div#searchPosterContainer{
    padding: auto;
    margin: auto;
}

div#searchinfocontainer{
    line-height: 1;
}
div#svgcontainer{
    text-align: center;
    width: 64%;
    height: 100%;
    padding: auto;
    font: 10px sans-serif;
    margin: auto;
}

div#graphbar{
    float: right;
    text-align: left;
    width: 19%;
    height: 100%;
    padding: 0px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
}

div#sliderbar{
    float: right;
    text-align: left;
    width: 24%;
    height: 50%;
    padding: 0px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
}

div#movieInfoContainer{
    float: right;
    text-align: left;
    width: 45%;
    height: 80%;
    padding: 0px;
    font: 10px sans-serif;
    background: #ddd;
}

div#sliderWidth{
    width: 100%;
    padding: 0px;
    font: 17px sans-serif;
    background: #ddd;
}

input#actor{
    width: 100%;
    fill: brown;
}

input#rating{
    width: 100%;
}

input#genre{
    width: 100%;
}

input#director{
    width: 100%;
}

input#year{
    width: 100%;
}

input#score{
    width: 100%;
}

.slider-selection {
background: #BABABA;
}

.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #94A14E),
        color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}
