img{
    max-width: 90%;
}
div#logo {
    padding: auto;
    margin: auto;
}
body {
    background: url("../movieCollageBlur.jpg") no-repeat scroll;
    background-size: cover;
    padding: 250px;

}

form {
    min-width: 250px;
    padding: 5%;
    margin: auto;
    width: 25%;
    background-color: rgba(0, 139, 139, 0.8);
    text-align: center;
    border-radius: 25px;
    box-shadow: black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
