body {
    background-image: url("../movieCollageBlur.jpg");
    background-size: cover;
    padding: 250px;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

form {
    padding: 5%;
    margin: auto;
    width: 25%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
    font-family: Helvetica;
}
