img{
    max-width: 90%;
}
div#logo {
    padding: auto;
    margin: auto;
}
body {
    background: url("../movieCollageBlur.jpg") no-repeat scroll;
    background-size: cover;
    padding: 250px;

}

form {
    min-width: 250px;
    min-height: 200px;
    padding: 5%;
    margin: auto;
    width: 25%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact, sans-serif;
    box-shadow: black;
}
