	
		
		  cell.append("clipPath")
			  .attr("id", function(d) { return "clip-" + d.data.id; })
			  .append("use")
			  .attr("xlink:href", function(d) { return "#" + d.data.id; });
			  
		  cell.append("text")
			  .attr("clip-path", function(d) { return "url(#clip-" + d.data.id + ")"; })
			  .selectAll("tspan")
			  .data(function(d) { return d.data.name.split(/(?=[A-Z][^A-Z])/g); })
			  .enter().append("tspan")
			  .attr("x", 4)
			  .attr("y", function(d, i) { return 13 + i * 10; })
			  .text(function(d) { return d; });

		  cell.append("title")
			  .text(function(d) { return d.data.id + "\n" + format(d.value); });
		
		  //d3.selectAll("input")
			//  .data([sumBySize, sumByCount], function(d) { return d ? d.name : this.value; })
			 // .on("change", changed);
		
        
        //script tag _~_ don't remove.
        
        var timeout = d3.timeout(function() {
			d3.select("input[value=\"sumByCount\"]")
				.property("checked", true)
				.dispatch("change");
		  }, 2000);
		
		  function changed(sum) {
			timeout.stop();
		
			treemap(root.sum(sum));
		
			cell.transition()
				.duration(750)
				.attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; })
			  .select("rect")
				.attr("width", function(d) { return d.x1 - d.x0; })
				.attr("height", function(d) { return d.y1 - d.y0; });
		  }
		
		function sumByCount(d) {
		  return d.children ? 0 : 1;
		}
		
		function sumBySize(d) {
		  return d.size;
		}
		
		
		
		
		
		///////////////////////////
		
					<label for="rating" 
				style="display: inline-block; width: 240px; text-align: right">
				rating = <span id="rating-value">…</span>
			</label>
			
			<label for="genre" 
				style="display: inline-block; width: 240px; text-align: right">
				genre = <span id="genre-value">…</span>
			</label>
			
			<label for="director" 
				style="display: inline-block; width: 240px; text-align: right">
				director = <span id="director-value">…</span>
			</label>
			
			<label for="year" 
				style="display: inline-block; width: 240px; text-align: right">
				year = <span id="year-value">…</span>
			</label>
			
			<label for="score" 
				style="display: inline-block; width: 240px; text-align: right">
				score = <span id="score-value">…</span>
			</label>
			
			////////////////////////////////
			
			
						<input type="range" min="1" max="150" id="rating">
			<input type="range" min="1" max="150" id="genre">
			<input type="range" min="1" max="150" id="director">
			<input type="range" min="1" max="150" id="year">
			<input type="range" min="1" max="150" id="score">	
			
			
			/////////////////////////////
				// when the input range changes update the circle 
				d3.selectRating("#rating").on("input", function() {
				  update(+this.value);
				});
				
				// when the input range changes update the circle 
				d3.selectGenre("#genre").on("input", function() {
				  update(+this.value);
				});
				
				// when the input range changes update the circle 
				d3.selectDirector("#director").on("input", function() {
				  update(+this.value);
				});
				
				// when the input range changes update the circle 
				d3.selectYear("#year").on("input", function() {
				  update(+this.value);
				});
				
				// when the input range changes update the circle 
				d3.selectScore("#score").on("input", function() {
				  update(+this.value);
				});

				// Initial starting radius of the circle 
				//update(75);
				
	//////////////////////////////////

				// update the rating element
				function updateRating(rating) {

				  // adjust the text on the range slider
				  d3.select("#rating-value").text(rating);
				  d3.select("#rating").property("value", rating);

				  // update the rircle radius
				  //holder.selectAll("circle") 
					//.attr("r", actor);
				}
				
				// update the genre element
				function updateGenre(genre) {

				  // adjust the text on the range slider
				  d3.select("#genre-value").text(genre);
				  d3.select("#genre").property("value", genre);

				  // update the rircle radius
				  //holder.selectAll("circle") 
					//.attr("r", actor);
				}
				
				// update the director
				function updateDirector(director) {

				  // adjust the text on the range slider
				  d3.select("#director-value").text(director);
				  d3.select("#director").property("value", director);

				  // update the rircle radius
				  //holder.selectAll("circle") 
					//.attr("r", actor);
				}
				
				// update the year element
				function updateYear(year) {

				  // adjust the text on the range slider
				  d3.select("#year-value").text(year);
				  d3.select("#year").property("value", year);

				  // update the rircle radius
				  //holder.selectAll("circle") 
					//.attr("r", actor);
				}
				
				// update the score element
				function updateScore(score) {

				  // adjust the text on the range slider
				  d3.select("#score-value").text(score);
				  d3.select("#score").property("value", score);

				  // update the rircle radius
				  //holder.selectAll("circle") 
					//.attr("r", actor);
				}
	