<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

<style>
    .bar {
      fill: blue;
    }
</style>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Ref.:https://bost.ocks.org/mike/bar/3/-->
    <title>Movie Bar Chart Data</title>
</head>
<body>

<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
   // $(document).ready ( function(){

    //Put data returned from views.py into JSON format
   // var cleanedData = JSON.parse("{{ data|escapejs }}");
    var cleanedData = JSON.parse("{{ data|escapejs }}");
    barGraphDataList = [];

    console.log(cleanedData[3].fields.title);
    console.log(cleanedData[3].fields.IMDBScore);

    //build up objects with cleaned data from views.py
    for (var i = 1; i < cleanedData.length ; i++) {
        //create movie object to hold the data
        moviePictureObj = new Object();

        //get add the data to the movie object
        var score = parseInt(cleanedData[i].fields.IMDBScore);
        if (Number.isInteger(score)){
            moviePictureObj.IMDBScore = score;
        }
        else {
            moviePictureObj.IMDBScore=0;
        }
        moviePictureObj.title = cleanedData[i].fields.title;

        //add the movie objects to list
        barGraphDataList.push(moviePictureObj);
    }

    //set the list to data var
    var data=barGraphDataList;
    console.log(data)

    //define the margins of the bar graph
    var margin = {top: 30, right: 20, bottom: 200, left: 75};

    //set the inner dimensions of the barchart
    var width = 500 - margin.left - margin.right;
    var height = 600 - margin.top - margin.bottom;

    //add SVG
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")"); //set the origin to the top left corner of the bar chart

    //get the scaled output for the x values
    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], 0.10) //1% of each band to be used for spacing
        x.domain(data.map(function(d) { return d.title; }));
        //.domain(d3.range(data.length)); //set x range to length of movie set

    //get the scaled output for the y values
    var y = d3.scale.linear() //linear as numeric values
        .range([height, 0])
        .domain([0, d3.max(data, function(d) { return d.IMDBScore; })]);

    //Generate the x axis elements
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    //Generate the y axis elements
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")

   //convert strings to number
   function type(d) {
      d.IMDBScore = +d.IMDBScore;
      return d;
   }

    //set the y-axis to the left
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(90)")
        .attr("y",25)
        .attr("x",125)
        .attr("dy", "2em") //vertically centre the text
        .style("text-anchor", "start")
        .text("IMDB Score");

    //add the bars
     svg.selectAll(".bar")
         .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.title); })
        .attr("y", function(d) { return y(d.IMDBScore); })
        .attr("width", x.rangeBand())
        .attr("height", function(d) { return height - y(d.IMDBScore); })

    //set the x-axis to the bottom and add the movie titles
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .style('text-anchor', 'start')
        .attr('transform', 'rotate(45 -10 10)');

    //add a title to the graph
    svg.append("text")
        .attr("x", (width/2))
        .attr("y", 0-(margin.top/2))
        .attr("text-anchor", "middle")
        .style("font-size", "20px")
        //  .style("text-decoration", "underline")
        .text("IMDB Score");

</script>

</body>

</html>