<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<header class="global-header">
    <div id="header-inner">
        <div id = "logo-container">
            <a href="/explore"><img id="logo" src="{% static "MovieMe.png" %}" alt="MovieMe"></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/explore   ">New Search</a></li>
                <li><a href="/explore/general">Explore the Data</a></li>
            </ul>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}

</body>
</html>