<style>


</style>

{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class ="navbar-brand navbar-logo">
                <a href="/EPL"><img src="{% static "favicon.png" %}" alt="Edmonton Public Library"></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/EPL"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                    <li><a href="/EPL/CreateTicket"><span class="glyphicon glyphicon-plus"></span> Create Ticket</a></li>
                    <li><a href="/demo"><span class="glyphicon glyphicon-list-alt"></span> View Tickets</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>