<style>
    img#logo {
        height: 45px;
    }
    div#header-inner {
        padding: auto;
        margin: auto;
    }
    header {
        height: 50px;
        background: darkcyan;
        width: 100%;
    }
</style>
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<header class="global-header">
    <div id="header-inner">
        <a href="/explore"><img id="logo" src="{% static "MovieMe.png" %}" alt="MovieMe"></a>
    </div>
</header>
    {% block content %}
    {% endblock %}

</body>

</html>