<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<meta charset="utf-8">
<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}


.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 200px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

</style>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>


<div id="tooltip-container"></div>

<div id="canvas-svg"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://jpillora.com/jquery.rest/dist/1/jquery.rest.min.js"></script>


<body>

<!--<link rel="stylesheet" href="{% static "/css/cloudResults.css" %}">-->
<!--LICENSE#

Released under the GNU General Public License, version 3.
modified from Mike Bostock's Zoomable Circle packing found at:
https://bl.ocks.org/mbostock/7607535
-->

<body>
    <div id="first-div"></div>
	<div id="second-div">
		<div id="innertop"></div>
		<div id="innermiddle"></div>
		<div id="innerbottom">
			<h1>"A BUNCH OF TEXT FOR YA BOY"</h1>
		</div>
	</div>
	<div id="third-div"></div>
	
	<div id="movie-info"></div>
	


</body>
</html>
<script src="http://davidbau.com/encode/seedrandom-min.js"></script>


<svg width="960" height="960"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script>

    //keeping dirty data from backend in client memory for debug purposes
    var dirtyData = {{ data }};
	var dirtygenreData = "{{ genre|escapejs }}";
	var arr = dirtygenreData.split(',');
	for (var i = 0; i < arr.length; i++){
		arr[i] = arr[i].replace("\'", "");
		arr[i] = arr[i].replace("'", "");
		arr[i] = arr[i].replace(" ", "");
		arr[i] = arr[i].replace("\"", "");
		arr[i] = arr[i].replace("]", "");
		arr[i] = arr[i].replace("[", "");
	}
	console.log(arr);
    //cleaned data from backend data dictionary
    var cleanedData = JSON.parse("{{ data|escapejs }}");
	for (var i = 0; i < cleanedData.length; i++){
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace("\'", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace("'", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace(" ", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace("\"", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace("]", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.replace("[", "");
		cleanedData[i].fields.genres = cleanedData[i].fields.genres.split(",");
	}
		
	//var cleanedgenreData = [JSON.parse("{{ genre|escapejs }}")];
	var root = Object();
	console.log(cleanedData)
	root.name = "movies";
	root.children = [];
	
	for (var i = 0; i < arr.length; i++) {
	    var genre = Object();
		genre.name = arr[i];
		genre.children = [];
		var year = 1910;
		for (var j = 0; j < 11; j++) {
		    var yearObj = Object();
		    yearObj.name = year;
		    yearObj.children = [];
		    genre.children.push({"name": yearObj.name, "children": yearObj.children});
		    year += 10;
		}
		root.children.push({"name":genre.name, "children":genre.children});
	}
	for (var i = 0; i < cleanedData.length; i++) {
	    if (cleanedData[i].fields.genres != null) {
	        genreArr = cleanedData[i].fields.genres;
            for (var j = 0; j < genreArr.length; j++) {
	            for (var k = 0; k < root.children.length; k++) { // genres[k]
	                for (var l = 0; l < root.children[k].children.length; l++) { // years[l]
	                    if (genreArr[j] == root.children[k].name) {
	                        if ((root.children[k].children[l].name <= cleanedData[i].fields.year) && (cleanedData[i].fields.year < (root.children[k].children[l].name + 10))) {
	                            var movie = Object();
	                            movie.name = cleanedData[i].fields.title;
								movie.id = cleanedData[i].fields.movieID;
								movie.poster = cleanedData[i].fields.poster;
	                            movie.size = 1000000;
	                            root.children[k].children[l].children.push({"name":movie.name, "size":movie.size, "id": movie.id, "poster": movie.poster});
                            }
	                    }
                    }
	            }       
            }
        }
	}
	var str = JSON.stringify(root, null, 2);
	console.log(str);
	
	
	/*
	for (var i = 0; i < arr.length; i++) {
		var genre = Object();
		genre.name = arr[i];
		genre.children = [];
		for (var j = 0; j < (5000/28); j++){
			var movie = Object()
			movie.name = j;
			movie.size = 1000;
			genre.children.push({"name":movie.name, "size":movie.size});
		}
		root.children.push({"name":genre.name, "children":genre.children});
	}
    */
	
    var svg = d3.select("svg"),
    margin = 20,
    diameter = +svg.attr("width"),
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

    var color = d3.scaleLinear()
        .domain([-1, 5])
        .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
        .interpolate(d3.interpolateHcl);

    var pack = d3.pack()
        .size([diameter - margin, diameter - margin])
        .padding(2);

    root = d3.hierarchy(root)
        .sum(function(d) { return d.size; })
        .sort(function(a, b) { return b.value - a.value; });

	// Define the div for the tooltip
	var div = d3.select("body").append("div")	
		.attr("class", "tooltip")				
		.style("opacity", 0);
		
    var focus = root,
    nodes = pack(root).descendants(),
    view;

    var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
        .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
        .style("fill", function(d) { return d.children ? color(d.depth) : null; })
        .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); })
		.on("mouseover", function(d) {		
			div.transition()		
				.duration(200)		
				.style("opacity", .9);		
			div.html(d.data.name + "<br/><img height='320px' width='240px' src='" + d.data.poster +"'></img>")
			    .attr("id", "toolpic")
				.style("left", (d3.event.pageX + 10) + "px")		
				.style("top", (d3.event.pageY + 10) + "px");	
		})					
		.on("mouseout", function(d) {		
			div.transition()		
			.duration(500)		
			.style("opacity", 0);	
		});

	function imageUrl(ID){
		var url = "url";
	
	    var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "http://www.omdbapi.com/?i=" + ID, false);
        xhttp.send();
		var response = JSON.parse(xhttp.responseText);
		console.log(response.Poster);
	    url = response.Poster;
		return url;
	}
		
    var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
        .attr("class", "label")
        .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
        .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
        .style("font-size", function(d) {
			  var len = d.data.name.length;
			  var size = d.r/3;
			  size *= 10 / len;
			  size += 1;
			  return Math.round(size)+'px';
		  })
		  .text(function(d) {
			  console.log(d.data.name);
		      //var text = d.data.substring(0, d.r / 3);
			  return d.data.name;
		  });
		

    var node = g.selectAll("circle,text");

    svg
        .style("background", color(-1))
        .on("click", function() { zoom(root); });

    zoomTo([root.x, root.y, root.r * 2 + margin]);




    function zoom(d) {
        var focus0 = focus; focus = d;

        var transition = d3.transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .tween("zoom", function(d) {
                var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
                return function(t) { zoomTo(i(t)); };
            });

        transition.selectAll("text")
            .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
                .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
                .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
                .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
    }

    function zoomTo(v) {
        var k = diameter / v[2]; view = v;
        node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
        circle.attr("r", function(d) { return d.r * k; });
    }
</script>
