<!DOCTYPE html>

<style>
  form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  svg {
  font: 10px sans-serif;
  }
</style>

<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  
  <svg width="960" height="570"></svg>
  <form>
    <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
    <label><input type="radio" name="mode" value="sumByCount"> Count</label>
  </form>
  
  <body>
  <h1>test</h1>

  </body>
  
  <script type="text/javascript">
    $(document).ready(function() {
    $.ajax({
    type: "GET",
    url: "/explore/load",
    dataType: "json",
    cache: "false",
    data: {},
    success:function(data)
    {
    alert("Movies loaded");
    alert(data)
    alert(data[0].fields)
    var test = data;
    var text;
    
    for (i = 0; i < data.length; i++) {
        text += data[i].fields.title + " " + "<br>";
    }     
    document.write(text);
    
    } 
    });
    });
  </script>
  
</html>
