<!DOCTYPE html>

<style>
  form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  svg {
  font: 10px sans-serif;
  }
</style>

<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/lins/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
  </head>

  <svg width="960" height="570"></svg>
  <form>
    <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
    <label><input type="radio" name="mode" value="sumByCount"> Count</label>
  </form>

  <body>

  </body>

  <script type="text/javascript">
    $(document).ready(function() {
         $.ajax({
         type: "GET",
         url: "/explore/load/",
         dataType: "json",
         cache: "false",
         data: {},
         success:function(response)
         {
              alert("Movies loaded");
         }
    });
    return true;
  </script>

</html>