<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
<head>
    <title>Search</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

</head>
<body>
<link rel="stylesheet" href="{% static "/css/search.css" %}">
<!--<div id="bg">
    <img src="{% static "logopic.jpg" %}" id="bg" alt="">
</div>-->
<form action="/explore/view/" method="get">
    {% csrf_token %}
    <h3>Search</h3>
    <input type ='text' id="search" name="search"/>
    <ul id="search-results">
        <button class btn id=submitsearch>Search</button>
    </ul>
</form>


</body>

</html>
