<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
	form {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	svg {
		font: 10px sans-serif;
	}

	div.tooltip {
		position: absolute;
		float: left;
		text-align: left;
		width: 550px;
		height: 500px;
		padding: 8px;
		font: 10px sans-serif;
		background: #ddd;
		border: solid 1px #aaa;
		border-radius: 8px;
		pointer-events: none;
	}

	
	imageContainer{
        flex-direction: row;
        display: -webkit-flex;
        display: flex;
		#float: left;
		position: absolute;
		text-align: left;
		width: 45%;
		height: 500px;
		padding: 8px;
		font: 10px sans-serif;
		background: #ddd;
		border: solid 1px #aaa;
		border-radius: 8px;
		pointer-events: none;
	}
	
	graphContainer{
        flex-direction: row;
        display: -webkit-flex;
        display: flex;
		#float: right;
		position: absolute;
		text-align: right;
		width: 45%;
		height: 500px;
		padding: 8px;
		font: 10px sans-serif;
		background: #ddd;
		border: solid 1px #aaa;
		border-radius: 8px;
		pointer-events: none;
	}
	
	.bar{
		fill: steelblue;
	}

	.bar:hover{
		fill: brown;
	}

	.axis {
		font: 10px sans-serif;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

</style>

<html lang="en">
  <head>
		<script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
  <svg width="900" height="500"></svg>
  <div id="treemap"></div>
  
   <script type="text/javascript">	
   
		var globalResizeTimer = null;
		
		//keeping dirty data from backend in client memory for debug purposes
		var dirtyData = {{ data }};

		//cleaned data from backend data dictionary
		var cleanedData = JSON.parse("{{ data|escapejs }}");
   
		function drawd3() {

			//create new movieList object to represent all of the movies
			var movieObjList = new Object(); 
			movieObjList.name = "movies";
			movieObjList.children = [];
			//array for preload caching
			images = [];
			
			barData = [];
			
			//build up objects with cleaned data from views.py
			for ( i = 1; i < cleanedData.length ; i++) {
				var movieObj = new Object();
				var movieData = new Object();
				
				var barDataObj = new Object()
				
				barGraphDataObj.name = cleanedData[i].fields.title;
				barGraphDataObj.size = parseInt(cleanedData[i].fields.relevance);
				
				movieData.name = cleanedData[i].fields.title;
				movieData.poster = cleanedData[i].fields.poster;
				movieData.size = parseInt(cleanedData[i].fields.relevance);
				
				movieObj.name = cleanedData[i].fields.title;
				movieObj.poster = cleanedData[i].fields.poster;
				//console.log(movieObj.poster);
				movieObj.children = [];
				movieObj.children.push(movieData);
				
				movieObjList.children.push(movieObj);
				barData.push(barGraphDataObj);
				
				//push image url into array for pre-cache by loader()
				images.push(cleanedData[i].fields.poster);
				//document.write(data[i].fields.title + " " + data[i].fields.relevance + "<br>");
			}
			
			//pass image urls to loader to cache the images
			loader(images);
			
			//stringify objects to JSON This seems to be counter productive
			//d3 knows how to intrepret javascript Objects - ie they are in JSON already
			//stringifying them anyways to log to console for debugging
			var movieJSON = JSON.stringify(movieObjList);
			//console.log(movieJSON); 

			//bind stringified data to variable we pass into d3 functions - redundant - see above
			//var data = movieJSON;
		
			//bind javascript Objects to data variable for pass into d3 functions
			var data = movieObjList;
		
			var svg = d3.select("svg"),
				width = +svg.attr("width"),
				height = +svg.attr("height");

			var fader = function(color) { return d3.interpolateRgb(color, "#fff")(0.2); },
				color = d3.scaleOrdinal(d3.schemeCategory20.map(fader)),
				format = d3.format(",d");
					
			var treemap = d3.treemap()
				.size([width, height])
				.round(true)
				.paddingInner(1)
				.tile(d3.treemapSquarify.ratio(1 * (1 + Math.sqrt(5)*.4)));
				
			var formatTime = "TOOLTIP"
			
			//var div = d3.select("body").append("div")   
				//.attr("class", "tooltip")               
				//.style("opacity", 0);
			
			var div = d3.select("body").append("div")
				.attr("class", "tooltip")
				.style("opacity", 1e-6);
			
			//d3.json(data, function(data) {
			
			var root = d3.hierarchy(data)
				.eachBefore(function(d) { d.data.id = (d.parent ? d.parent.data.id + "." : "") + d.data.name; })
				.sum(sumBySize)
				.sort(function(a, b) { return b.height - a.height || b.value - a.value; });
			
			treemap(root);
			  
			var cell = svg.selectAll("g")
				.data(root.leaves())
				.enter().append("g")
				.attr("preserveAspectRatio", "xMinYMin meet")
				.attr("viewBox", "0 0 1000 500")
				.classed("svg-content", true)
				.attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; })
                .on("mouseover", mouseover)
				.on("mouseenter", function (d) { return mouseenter(d,d.data.id); })
				.on("mouseout", mouseout);

				//.on("mouseover", function(d) {      
					//div.transition()        
					//.duration(200)      
					//.style("opacity", .9);      
				//div .html("xlink:href", imageUrl(d) + "<br/>"  + d.close)  
					//.style("left", (d3.event.pageX) + "px")     
					//.style("top", (d3.event.pageY - 28) + "px");    
				//})                  
				//.on("mouseout", function(d) {       
					//div.transition()        
					//.duration(500)      
					//.style("opacity", 0);   
				//});

			cell.append("rect")
				.attr("id", function(d) { return d.data.id; })
				.attr("width", function(d) { return d.x1 - d.x0; })
				.attr("height", function(d) { return d.y1 - d.y0; })
				.attr("fill", function(d) { return color(d.parent.data.id); });
			
			
			
			cell.append("defs")
				.append("pattern")
				.attr("id", "images")
				.attr('patternUnits', 'userSpaceOnUse')
				.attr('x', function(d) { return d.x; })
				.attr('y', function(d) { return d.y; })
				.attr("width", function(d) { return d.x1 - d.x0; })
				.attr("height", function(d) { return d.y1 - d.y0; })
				.append("image")
				.attr("xlink:href", function(d) { return imageUrl(d); })
				.attr('x', function(d) { return d.x; })
				.attr('y', function(d) { return d.y; });
				//.attr("width", function(d) { return d.width; })
				//.attr("height", function(d) { return d.height; });
				//.attr("height", function(d) { return d.y1; });
				//.attr("width", function(d) { return d.x1; })
				//.attr("xlink:href", function(d) { return imageUrl(d); })
					
				
			cell.append("rect")
					.attr('x', function(d) { return d.x; })
					.attr('y', function(d) { return d.y; })
					.attr("width", function(d) { return d.x1; })
					.attr("height", function(d) { return d.y1; })
					.attr("fill", "url(#images)");

			//cell.append("text")
			//	  .attr("clip-path", function(d) { return "url(#clip-" + d.data.id + ")"; })
			//	  .selectAll("tspan")
			//	  .data(function(d) { return d.data.name.split(/(?=[A-Z][^A-Z])/g); })
			//	  .enter().append("tspan")
			//	  .attr("x", 4)
			//	  .attr("y", function(d, i) { return 13 + i * 10; })
			//	  .text(function(d) { return d; });
		
			//script tag _~_ don't remove.
	
			function imageUrl(d) {
				//printing URL to console to debug data fetching from JSON
				//console.log(d.data.poster);
				//console.log(d.data.name);
				return d.data.poster;
			}
			
			function sumBySize(d) {
			  return d.size;
			}
			
			function mouseover() {
				div.transition()
				.duration(200)
				.style("opacity", 1);
			}
			function mouseenter(d, ID) {
				div
					.attr("id", "imageContainer")
					.html("<h1>" + d.data.name.split(/(?=[A-Z][^A-Z])/g) + "</h1><br><ahref='imageURL()'><img height='75%' src='" + imageUrl(d) + ")'></ahref></span>")
					.style("left", (d3.event.pageX - 10) + "px")
					.style("top", (d3.event.pageY - 10) + "px");

                div
					.attr("id", "graphContainer")
					.style("right", (d3.event.pageX - 10) + "px")
					.style("top", (d3.event.pageY - 10) + "px");
						
				data = barData;
				//console.log(barData);
				
				// set the dimensions and margins of the graph
				var margin = {top: 20, right: 20, bottom: 30, left: 40},
					width = 200 - margin.left - margin.right,
					height = 300 - margin.top - margin.bottom;
				// set the ranges
				var yScale = d3.scaleLinear()
					.domain([0, d3.max(data)])
					.range([height, 0])

				var xScale = d3.scaleBand()
					.domain(d3.range(0, data.length))
					.range([0, width]);
				var color = d3.scaleOrdinal(d3.schemeCategory20b);

				var xAxis = d3.axisBottom()
					.scale(xScale);

				var yAxis = d3.axisLeft()
					.scale(yScale);

				//add SVG 
				var svg = d3.select('#graphContainer').append("svg:svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", 
						  "translate(" + margin.left + "," + margin.top + ")");

				data.forEach(function(d) {
					d.name = d.name;
					console.log(d.name);
					d.size = +d.size;
				});

				//scale
				xScale.domain(data.map(function(d) { return d.name; }));
				yScale.domain([0, d3.max(data, function(d) { return d.size; })]);

				//axis
				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis)
					.selectAll("text")
					.style("text-anchor", "end")
					.attr("dx", "-.8em")
					.attr("dy", "-.55em")
					.attr("transform", "rotate(-90)" );

				svg.append("g")
					.attr("class", "y axis")
					.call(yAxis)
					.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", 5)
					.attr("dy", ".71em")
					.style("text-anchor", "end")
					.text("Frequency");

				//chart
				svg.selectAll("bar")
					.data(data)
					.attr("class", "bar")
					.enter().append("rect")
					.attr("x", function(d) { return xScale(d.name); })
					.attr("width", xScale.bandwidth())
					.attr("height", function(d) { return height - yScale(d.size); })
					.attr("y", function(d) { return yScale(d.size); })
					.style("fill", function(d) { return colorizer(d,ID); });

				//coloring function (black)
				function colorizer(d,ID) {
					name = d.name.split(/(?=[A-Z][^A-Z])/g);
					namearr = name.split(".");
					idarr = ID.split(".");
					idarr = idarr[1];
					if(namearr[0] == idarr){
						return "brown"
					}else{
						return "steelblue"
					}
				}
			}
			
			function mouseout() {
				div.transition()
					.duration(200)
					.style("opacity", 1e-6);
			}

		
		}
		
		function loader(images) {
			//console.log('Loader');
			if (!loader.list) {
				loader.list = [];
			}
			var list = loader.list;
			for (var i = 0; i < images.length; i++) {
				var img = new Image();
				img.onload = function() {
					var index = list.indexOf(this);
					if (index !== -1) {
						// remove image from the array once it's loaded
						// for memory consumption reasons
						list.splice(index, 1);
					}
				}
				list.push(img);
				img.src = images[i];
			}
		}

		$(window).resize(function() {
			if(globalResizeTimer != null) window.clearTimeout(globalResizeTimer);
			globalResizeTimer = window.setTimeout(function() {
				$("svg g").remove();
				//$("svg").remove();
				drawd3();
			}, 10);
		});
		
		drawd3();
		//DEAL WITH RESIZE ON INITIAL LOAD PROBLEM LATER
		
		</script>
		
		<div>
			<label for="actor" 
				style="display: inline-block; width: 240px; text-align: right">
				actor = <span id="actor-value">…</span>
			</label>
			<label for="rating" 
				style="display: inline-block; width: 240px; text-align: right">
				rating = <span id="rating-value">…</span>
			</label>
			<label for="genre" 
				style="display: inline-block; width: 240px; text-align: right">
				genre = <span id="genre-value">…</span>
			</label>
			<label for="director" 
				style="display: inline-block; width: 240px; text-align: right">
				director = <span id="director-value">…</span>
			</label>
			<label for="year" 
				style="display: inline-block; width: 240px; text-align: right">
				year = <span id="year-value">…</span>
			</label>
			<label for="score" 
				style="display: inline-block; width: 240px; text-align: right">
				score = <span id="score-value">…</span>
			</label>
			
			<input type="range" min="1" max="100" id="actor">
			<input type="range" min="1" max="100" id="rating">
			<input type="range" min="1" max="100" id="genre">
			<input type="range" min="1" max="100" id="director">
			<input type="range" min="1" max="100" id="year">
			<input type="range" min="1" max="100" id="score">
			
			<!--Update Weights!! Re-runs algorithm-->
			<form name = "movieWeight" action="/explore/weight/" onsubmit="return valid()" method="get">
				{% csrf_token %}
				<input type="hidden" id="update" name="update" autocomplete="off">
				<input type="submit" value="Update Criteria Weight" onclick="weight()")></input>
			</form>
			
			<!--New search!! Redirects home-->
			<form name = "movieInput" action="/explore" onsubmit="return valid()" method="get">
				<input type="submit" value="New Search"></input>
			</form>
		
			<!--<input type="submit" value="Submit">-->
			
			<script>

				var width = 600;
				var height = 300;
								
				//get original search value for repeat search
				var originalMovie = cleanedData[0].fields.title;
				//document.getElementById("update").value = originalMovie;
				
				//on click 'update'
				//prepare weights for processing by algorithm on backend
				//function weight(){

					//document.getElementById("update").value = newWeights;
				//}
				
				var newWeights = [];
				newWeights.push(originalMovie);
				for (var i = 0; i < 6; i++){
					newWeights.push(50);				
				}
			
				var holder = d3.select("body")
					  .append("svg")
					  .attr("width", width)    
					  .attr("height", height); 

				// update the actor element
				d3.select("#actor").on("input", function() {
					updateActor(+this.value);
				});
				updateActor(50);
					
				var actorVar = 50;
				function updateActor(actor) {
					// adjust the text on the range slider
					d3.select("#actor-value").text(actor);
					d3.select("#actor").property("value", actor);
					actorVar = parseInt(d3.select("#actor-value").text(actor)._groups[0][0].textContent);
					newWeights[1] = actorVar;
					updateWeightArr();
				}
				
				// update the rating element
				d3.select("#rating").on("input", function() {
					updateRating(+this.value);
				});
				updateRating(50);
				
				var ratingVar = 50;
				function updateRating(rating) {
					// adjust the text on the range slider
					d3.select("#rating-value").text(rating);
					d3.select("#rating").property("value", rating);
					ratingVar = parseInt(d3.select("#rating-value").text(rating)._groups[0][0].textContent);
					newWeights[2] = ratingVar;
					updateWeightArr();
				}
				
				// update the genre element
				d3.select("#genre").on("input", function() {
					updateGenre(+this.value);
				});
				updateGenre(50);

				var genreVar = 50;
				function updateGenre(genre) {
					// adjust the text on the range slider
					d3.select("#genre-value").text(genre);
					d3.select("#genre").property("value", genre);
					genreVar = parseInt(d3.select("#genre-value").text(genre)._groups[0][0].textContent);
					newWeights[3] = genreVar;
					updateWeightArr();
				}

				// update the director element
				d3.select("#director").on("input", function() {
					updateDirector(+this.value);
				});
				updateDirector(50);
				
				var directorVar = 50;
				function updateDirector(director) {
					// adjust the text on the range slider
					d3.select("#director-value").text(director);
					d3.select("#director").property("value", director);
					directorVar = parseInt(d3.select("#director-value").text(director)._groups[0][0].textContent);
					newWeights[4] = directorVar;
					updateWeightArr();
				}

				// update the year element
				d3.select("#year").on("input", function() {
					updateYear(+this.value);
				});
				updateYear(50);
				
				var yearVar = 50;
				function updateYear(year) {
					// adjust the text on the range slider
					d3.select("#year-value").text(year);
					d3.select("#year").property("value", year);
					//updateVar._groups[0][0].textContent
					yearVar = parseInt(d3.select("#year-value").text(year)._groups[0][0].textContent);
					newWeights[5] = yearVar;
					updateWeightArr();
				}

				// update the score element
				d3.select("#score").on("input", function() {
					updateScore(+this.value);
				});
				updateScore(50);
				
				var scoreVar = 50;
				function updateScore(score) {
					// adjust the text on the range slider
					d3.select("#score-value").text(score);
					d3.select("#score").property("value", score);
					//scoreVar._groups[0][0].textContent
					scoreVar = parseInt(d3.select("#score-value").text(score)._groups[0][0].textContent);
					newWeights[6] = scoreVar;
					updateWeightArr();
				}
				
				function updateWeightArr(){
					document.getElementById("update").value = newWeights;
				}
				
				
			</script>
		</div>

		<div>
		
		<svg width="200" height="300"></svg>
		<script>

            function toTitleCase(str)
            {
                return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
            }

			function barChart(divx){
				divx.append("svg");

					
				data = [
							{
								"Letter": "A",
								"Freq": 20	
							},
							{
								"Letter" : "B",
								"Freq": 12
							},
							{
								"Letter" : "C",
								"Freq": 47
							},
							{
								"Letter" : "D",
								"Freq": 34
							},
						];
					
				dataTest = d3.csvFormat([{foo: "1", bar: "2"}]); // "foo,bar\n1,2"
				//console.log(dataTest);

				//barData = d3.csvFormat(barData);
				//console.log(barData);
				
				// set the dimensions and margins of the graph
				var margin = {top: 20, right: 20, bottom: 30, left: 40},
					width = 960 - margin.left - margin.right,
					height = 500 - margin.top - margin.bottom;
				// set the ranges
				var yScale = d3.scaleLinear()
					.domain([0, d3.max(data)])
					.range([0, height])

				var xScale = d3.scaleBand()
					.domain(d3.range(0, data.length))
					.range([0, width])

				// define the axis
				//var xAxis = d3.svg.axis()
				//	.scale(x)
				//	.orient("bottom")


				//var yAxis = d3.svg.axis()
				//	.scale(y)
				//	.orient("left")
				//	.ticks(10);

				var xAxis = d3.axisBottom()
					.scale(xScale);

				var yAxis = d3.axisLeft()
					.scale(yScale);
					
					//.append("svg:svg")
				// add the SVG element
				var svg = d3.select("divx")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", 
						  "translate(" + margin.left + "," + margin.top + ")");


				// load the data
				//d3.json(data, function(error, data) {
					//console.log(data);
					data.forEach(function(d) {
						d.Letter = d.Letter;
						d.size = +d.size;
					});
					
				  // scale the range of the data
				  xScale.domain(data.map(function(d) { return d.Letter; }));
				  yScale.domain([0, d3.max(data, function(d) { return d.size; })]);

				  // add axis
				  svg.append("g")
					  .attr("class", "x axis")
					  .attr("transform", "translate(0," + height + ")")
					  .call(xAxis)
					.selectAll("text")
					  .style("text-anchor", "end")
					  .attr("dx", "-.8em")
					  .attr("dy", "-.55em")
					  .attr("transform", "rotate(-90)" );

				  svg.append("g")
					  .attr("class", "y axis")
					  .call(yAxis)
					.append("text")
					  .attr("transform", "rotate(-90)")
					  .attr("y", 5)
					  .attr("dy", ".71em")
					  .style("text-anchor", "end")
					  .text("Score");


				  // Add bar chart
				  svg.selectAll("bar")
					  .data(data)
					.enter().append("rect")
					  .attr("class", "bar")
					  .attr("x", function(d) { return xScale(d.Letter); })
					  .attr("width", xScale.bandwidth())
					  .attr("height", function(d) { return height - yScale(d.size); })
					  .attr("y", function(d) { return yScale(d.size); });

				//});
				}
			</script>
		</div>
  </body>
{% endblock %}
</html>